<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Server Name Generator</title>
  <base href="/static/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="styles.d418536fc96cb9fc08e8.css"></head>
<body class="mat-typography">
  <app-root></app-root>
<script src="runtime.a37d753fcb1fed64503d.js" defer></script><script src="polyfills.35a5ca1855eb057f016a.js" defer></script><script src="main.7c7da3400b655945d7a0.js" defer></script></body>
</html>
